[Unit]
Description=flux433

[Service]
ExecStart=/usr/bin/python3 /opt/flux433/flux433/start.py --config /etc/flux433/config.ini --path /var/run/flux433 
# with systemd >= 232 use named fds, as per <https://serverfault.com/questions/791395/can-systemd-manage-a-pipeline/823973>
User=flux433

[Install]
WantedBy=multi-user.target

